resource: https://www.bls.gov/news.release/laus.t01.htm

In [ ]:
import pandas as pd
import numpy as np
import math
d = pd.read_csv("/Users/fatemeh/Desktop/states_labor.csv")

In [3]:
d.head()

        State Abbreviation May 2021 civilian labor force
0     Alabama           AL                     2,225,648
1      Alaska           AK                       350,818
2     Arizona           AZ                     3,612,045
3    Arkansas           AR                     1,357,765
4  California           CA                    18,907,620

In [4]:
labor_force = [int(str(i).replace(",", "")) for i in list(d['May 2021 civilian labor force'])]
sum(labor_force)

161727334

In [5]:
d['ratio'] = [labor_force[i]/sum(labor_force) for i in range(len(labor_force))]

In [6]:
d['#jobs'] = [math.ceil(labor_force[i]*10**5/sum(labor_force)) for i in range(len(labor_force))]

In [7]:
d.head()

        State Abbreviation May 2021 civilian labor force     ratio  #jobs
0     Alabama           AL                     2,225,648  0.013762   1377
1      Alaska           AK                       350,818  0.002169    217
2     Arizona           AZ                     3,612,045  0.022334   2234
3    Arkansas           AR                     1,357,765  0.008395    840
4  California           CA                    18,907,620  0.116910  11692